page-beginner {
    ion-content{
        background-color: black;
        .card-list{
            border-radius: 8px;
            height: 10vh;
            position: relative;
            // padding-top: 5px;
            // padding-left: 5px;

            .card-footer{
                // left: -5px;
                padding-left: 5px;
                width: 105%;
                background-color: rgb(179, 221, 245);
                // height: 10px;
                position: absolute;
                bottom: 0;
            }

        }

    }
}
