page-beginner {
    ion-content{
        .card-list{
            border-radius: 8px;
            height: 10vh;
            position: relative;
            padding-top: 5px;
            padding-left: 5px;

            .card-footer{
                background-color: rgb(151, 150, 150);
                // height: 10px;
                position: absolute;
                bottom: 0;
            }

        }

    }
}
